In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("Assignment").getOrCreate()

In [5]:
df = spark.read.csv('/content/dataset', header=True, inferSchema=True)
df.show(10)

+-------+--------------------+-----+----------+-----------------+----------+---------------+
|   Nama|               Email| Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+-------+--------------------+-----+----------+-----------------+----------+---------------+
|Anthony|   dawnday@gmail.com| 24.0|   3553265|       01/13/1974|    Laptop|        2736049|
| Robert|    pbrown@gmail.com| NULL|   5525753|       03-05-2004|    Tablet|        4996241|
|Melissa| ethan99@clayton.com| NULL|   4911936|       28-04-1970|  Handpone|        3169456|
|Timothy|johnsonmegan@gmai...|200.0|3140485039|       03/09/2003|    Laptop|         506622|
|  Kelly|keithwebster(at)e...|200.0|3833611071|       17-01-2022|   Tablett|        9969204|
|  Jared| qwiggins@hodges.com| 69.0|   8024480|       02-01-2005|   Tablett|        3093351|
| Nicole|ogonzalez@hotmail...|200.0|4286346096|       08-01-2024| Handphone|        3007158|
|  Mason|lisasmith@hotmail...| NULL|   9858877|       10/12/1994|Smartwatch|        4734266|
| Pamela|megancosta@yahoo.com| 39.0|4743642660|       16-08-2011|    Laptop|        8043250|
|  Chloe|kelligonzalez@hot...| NULL|3214144288|       10-02-2008| Smartwach|        7845719|
+-------+--------------------+-----+----------+-----------------+----------+---------------+
only showing top 10 rows

In [8]:
df.printSchema()
df.describe().show()
df.columns

root
 |-- Nama: string (nullable = true)
 |-- Email: string (nullable = true)
 |-- Umur: double (nullable = true)
 |-- Pendapatan: long (nullable = true)
 |-- Tanggal Pembelian: string (nullable = true)
 |-- Produk: string (nullable = true)
 |-- Nilai Transaksi: integer (nullable = true)

+-------+------+-------------------+------------------+--------------------+-----------------+---------+------------------+
|summary|  Nama|              Email|              Umur|          Pendapatan|Tanggal Pembelian|   Produk|   Nilai Transaksi|
+-------+------+-------------------+------------------+--------------------+-----------------+---------+------------------+
|  count|   100|                100|                68|                 100|              100|      100|               100|
|   mean|  NULL|               NULL|111.86764705882354|     1.65132351882E9|             NULL|     NULL|        5556026.09|
| stddev|  NULL|               NULL| 77.42110175763524|1.8103144429023266E9|             NULL|     NULL|2594395.9001886775|
|    min| Aaron|allison19@yahoo.com|              19.0|             3052819|       01-12-2023|Handphone|            506622|
|    max|Walter|  ztodd@hotmail.com|             200.0|          4974434132|       31-12-1972|  Tablett|           9969204|
+-------+------+-------------------+------------------+--------------------+-----------------+---------+------------------+

['Nama',
 'Email',
 'Umur',
 'Pendapatan',
 'Tanggal Pembelian',
 'Produk',
 'Nilai Transaksi']

In [9]:
from pyspark.sql.functions import col

df = spark.read.csv('/content/dataset', header=True, inferSchema=True)
df = df.dropDuplicates()
df = df.na.drop(subset=["nama"])
df = df.fillna({'email': 'Unknown'})
df = df.withColumn('umur', col('umur').cast('int'))
df.show(100)

+----------+--------------------+----+----------+-----------------+----------+---------------+
|      Nama|               Email|umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+----------+--------------------+----+----------+-----------------+----------+---------------+
|   Timothy|johnsonmegan@gmai...| 200|3140485039|       03/09/2003|    Laptop|         506622|
|      Mike|owensrobert@hotma...|  59|3741985672|       11/28/2004|    Laptop|        7711290|
|  Madeline|martinezmario@gma...| 200|3200189219|       12/05/1979|Smartwatch|        1908029|
|   Raymond|santiagoscott(at)...| 200|2866365700|       07/18/1993|Smartwatch|        6530558|
|  Benjamin|brittanygreen@mar...| 200|4075982395|       17-02-1982|    Tablet|        9067792|
|    Leslie|maysannette@gmail...| 200|   8372468|       09/13/1981|Smartwatch|        4957082|
|   Cynthia|lonnieandrews@cis...|  49|   5139026|       02/10/2000|   Tablett|        2393089|
|    Debbie| allison19@yahoo.com|  41|4974434132|       24-04-1982|Headphonee|        7488725|
|    Rachel|jjenkins@osborne....|  66|   6422484|       02-08-1993| Smartwach|        5974942|
|      Sean|ronald86(at)email...|  43|   7309258|       09/21/2020|    Laptop|        6997815|
|    Amanda|melissa50@hotmail...|  45|   4765981|       13-06-2014|Smartwatch|        2110772|
|    Robert| jason16@hotmail.com|  31|   6167831|       05/31/1972| Handphone|        4166003|
|       Roy|    psmith@gmail.com| 200|   7372475|       02/10/1994|Headphonee|         808089|
|     James|angela86@hernande...|  21|1750047896|       07/07/1970|    Laptop|        8695785|
|     April|danny11@ruiz-mart...| 200|4947285884|       08/31/1978|  Handpone|        6617945|
|    Robert|hinessamantha@gma...| 200|4906271009|       21-12-2000| Handphone|        3938680|
|     Aaron|scottjacqueline@l...|  49|3087774620|       08/20/1983|    Laptop|        6703858|
|    Sydney|thomaskrause@mart...|  24|4306503420|       02-10-2012|  Handpone|        6225011|
|   Annette|omendez@estes-rey...| 200|2519948005|       16-03-2003|    Laptop|        5734109|
|      Jose|lindseycollins(at...| 200|4718948795|       07/07/2021|Smartwatch|        6713101|
|    Lauren|michaelsharp@clar...|  26|3607884820|       11/13/2019|    Laptop|        6547810|
|     Sheri|arnoldbrett@selle...|  29|2488026821|       08/13/1975| Headphone|        3068588|
|    Jeanne|    elewis@gmail.com| 200|1343883642|       17-06-2004| Handphone|        8598980|
|    Morgan|richardsonjonatho...|  68|1529920627|       11/10/2009|    Tablet|        7892866|
|     Craig|austinbaldwin@hot...|  36|   3052819|       13-08-2022|Smartwatch|        8981630|
|   Madison|wilkinsjuan(at)em...| 200|2966985661|       07/28/1974|    Laptop|        1363964|
|    Nicole|ogonzalez@hotmail...| 200|4286346096|       08-01-2024| Handphone|        3007158|
|    Walter|    sara87@gmail.com|  19|   9751624|       11/07/2015| Handphone|        7111386|
|   Michael|stuartvasquez(at)...| 200|   4972260|       21-12-2005| Handphone|        1991110|
|     Bryan|williamsanthony@y...|  65|2091586467|       24-12-1988| Headphone|        9385903|
| Elizabeth|tylerfinley@yahoo...|  37|   9120819|       02/18/2015|  Handpone|        6390568|
|     Bobby|isimpson@brown-se...|  69|3154243087|       02/17/1997|    Tablet|        8673469|
|     Linda|emily21@mcmillan.org| 200|   6917560|       17-06-2010| Handphone|        6841653|
|   Shannon|cesardoyle(at)ema...|  48|   7502984|       14-04-2022|Smartwatch|        8353152|
|      Rita|osbornejulie@gmai...|  46|   4801131|       01/03/2009| Headphone|        4287524|
| Gabrielle|xhinton@murphy-no...| 200|1248444734|       31-12-1972|    Tablet|        3811149|
|    Pamela|megancosta@yahoo.com|  39|4743642660|       16-08-2011|    Laptop|        8043250|
|     Amber|michaelarmstrong@...|  41|   4764594|       15-12-1976| Headphone|        3312777|
|     Peter|fordwilliam@ellio...|  49|   5655666|       12/21/1981|    Laptop|        9968161|
|   Matthew|jessicahall@yahoo...|  32|3359452666|       05/22/2000| Headphone|        7317635|
|    Shelly|johngoodwin@perry...|  65|1503571524|       06/21/2002|  Handpone|        2021118|
|   Roberta| brendan46@yahoo.com| 200|   7416386|       29-03-1988| Headphone|        8769501|
|     David|stevenslisa@yahoo...| 200|4807875599|       06/03/2002|    Tablet|        7168803|
|    Daniel|   jsmith@meyer.info|  63|   8029197|       09/07/1988| Handphone|        3359641|
|     Laura|   lbailey@gmail.com| 200|   7864052|       05/01/2013|Smartwatch|        7965415|
|    Calvin| andre49@hotmail.com|  40|2575808578|       08/29/1973|Smartwatch|        2496871|
|   Monique|   hthomas@moore.com| 200|   5478040|       06/22/1994|    Laptop|        8598229|
|     Bryan|guerreronicolas@h...|  49|   6816341|       02/19/1993| Handphone|        8766162|
|     Marie|blackgeorge@gmail...| 200|1195009287|       25-11-2002|Smartwatch|        7214956|
|   Heather|dlandry(at)email.com|  57|   9980884|       01/20/1986|  Handpone|        7553960|
|   Anthony|   dawnday@gmail.com|  24|   3553265|       01/13/1974|    Laptop|        2736049|
|   Rebecca| linlaurie@yahoo.com|  34|2454478778|       10/05/1971|    Tablet|        2256555|
|     Donna|  glennlisa@york.com| 200|4528149018|       31-07-1997|   Tablett|        7512480|
|     Kelly|keithwebster(at)e...| 200|3833611071|       17-01-2022|   Tablett|        9969204|
|     James| john19(at)email.com|  42|3457646809|       06/10/1993| Smartwach|        3305087|
|   Matthew|davidwilliams@bro...|  70|1185314610|       27-11-2014|  Handpone|        6017027|
|      Anna| timothy21@gmail.com| 200|   5214212|       08-12-2013|   Tablett|        7335193|
|      Tara| amanda77@stuart.com|  37|3417336527|       22-10-1989| Headphone|        6370142|
|   Patrick|zthompson@hotmail...|  59|   6705425|       01-12-2023|    Laptop|        9079604|
|    Daniel|ashley01@lawrence...| 200|1528821152|       23-12-1982| Smartwach|        6175588|
|   Russell|wilsonscott@shaw-...| 200|   4234505|       11/16/1977|Smartwatch|        2841013|
|    Jeremy|steelesylvia@case...|  63|3349757081|       14-12-1995|    Laptop|        7855360|
|    Thomas|michelefernandez@...|  36|   7748933|       08/03/2005| Handphone|        2826983|
|     Jared| qwiggins@hodges.com|  69|   8024480|       02-01-2005|   Tablett|        3093351|
|    Joanna|   pwalker@gmail.com|  67|   5748244|       11/19/2010| Handphone|        3906783|
|  Michelle|      jcox@yahoo.com| 200|4713277993|       10/14/1979|  Handpone|        2693153|
|     Amber|angelagibson@hotm...| 200|   9749419|       13-12-2005| Headphone|        6831668|
|    Miguel| jenny18@hotmail.com| 200|3894244179|       22-10-1974|    Tablet|        2277467|
|   Michele|beckerbrian@gmail...|NULL|1060198903|       15-05-1981|Smartwatch|        9599456|
|Jacqueline|brianwilliams@yah...|NULL|   6815157|       07/15/2000|Headphonee|        1927889|
|    Nicole|thomasglenn@mcgee...|NULL|2112943218|       11/04/2013| Handphone|        7012470|
|     David|ronaldlittle@gmai...|NULL|   5704489|       10-12-1986|  Handpone|        4855839|
|    Austin|vmcfarland@gmail.com|NULL|   6296875|       01/21/1997|  Handpone|        9674590|
|    Rachel|april12@johnson-a...|NULL|   9807127|       20-10-2008| Handphone|        9309655|
|   Michael|    hsmall@davis.com|NULL|   8446324|       02/10/1997| Smartwach|        5201587|
|      Dawn|  tcabrera@gmail.com|NULL|   7719787|       10-03-1975| Handphone|        5082350|
|      Gail|    nshort@yahoo.com|NULL|   7061317|       15-07-1972| Headphone|        8679926|
|      Lisa|baileyvickie@hotm...|NULL|   3359174|       08/17/1993| Headphone|        3423186|
|     Chloe|kelligonzalez@hot...|NULL|3214144288|       10-02-2008| Smartwach|        7845719|
|   Christy|courtneybrown(at)...|NULL|   6287329|       02/03/2019| Headphone|        7335789|
|    Alexis|     dgray@gmail.com|NULL|3451537216|       06-07-2004|    Laptop|        6028244|
|Jacqueline| webbcraig@gmail.com|NULL|4703381979|       08/02/2019|Smartwatch|        1452972|
|     Lucas|loganhoward@gmail...|NULL|   9156739|       02/03/2020|Smartwatch|        1457124|
|   Melissa| ethan99@clayton.com|NULL|   4911936|       28-04-1970|  Handpone|        3169456|
|     Scott|theresahardin@hot...|NULL|   6761104|       01/07/1992|  Handpone|        2968229|
|     April|   ztodd@hotmail.com|NULL|4802733311|       28-01-1981|Smartwatch|        6744114|
|   Anthony|     ulee@grant.info|NULL|4295054984|       07/25/1992|    Laptop|        5530638|
|     Mason|lisasmith@hotmail...|NULL|   9858877|       10/12/1994|Smartwatch|        4734266|
| Stephanie|flin@hicks-craig.com|NULL|4214307534|       21-10-1974|Headphonee|        5047580|
|      Paul|anthony46@rodgers...|NULL|2623589294|       10/03/1986| Smartwach|        6878071|
|      Eric|younglinda@yahoo.com|NULL|   3581203|       26-02-1972|    Laptop|         650743|
|   Michael|   donna21@yahoo.com|NULL|1718641775|       24-02-1992| Headphone|        1105811|
|    Sandra|williamslaura@san...|NULL|4043685930|       20-06-2013|  Handpone|        2160812|
|     Linda|dianagentry@gmail...|NULL|   4695914|       10/24/2001|    Tablet|        8250750|
| Christine|ashley06@ruiz-ham...|NULL|   3417814|       17-03-1984| Handphone|        3559828|
| Elizabeth|    umills@yahoo.com|NULL|3569264004|       12/07/1984|    Laptop|        7452676|
|    Walter|chapmanalexander@...|NULL|   7890477|       26-02-2011|    Laptop|        4336671|
|    Teresa|smendoza@williams...|NULL|1753146262|       03-12-1996| Handphone|        5672796|
|    Robert|    pbrown@gmail.com|NULL|   5525753|       03-05-2004|    Tablet|        4996241|
|    Angela|bmcmahon@hotmail.com|NULL|1752232152|       07/08/2024|   Tablett|        6261738|
+----------+--------------------+----+----------+-----------------+----------+---------------+

In [12]:
from pyspark.sql.functions import col

df = df.withColumn("Umur", col("Umur").cast("int"))
df = df.filter(col('Umur') !=200)
df = df.fillna({"Umur": 0})

df.show()

+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Nama|               Email|Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Mike|owensrobert@hotma...|  59|3741985672|       11/28/2004|    Laptop|        7711290|
|  Cynthia|lonnieandrews@cis...|  49|   5139026|       02/10/2000|   Tablett|        2393089|
|   Debbie| allison19@yahoo.com|  41|4974434132|       24-04-1982|Headphonee|        7488725|
|   Rachel|jjenkins@osborne....|  66|   6422484|       02-08-1993| Smartwach|        5974942|
|     Sean|ronald86(at)email...|  43|   7309258|       09/21/2020|    Laptop|        6997815|
|   Amanda|melissa50@hotmail...|  45|   4765981|       13-06-2014|Smartwatch|        2110772|
|   Robert| jason16@hotmail.com|  31|   6167831|       05/31/1972| Handphone|        4166003|
|    James|angela86@hernande...|  21|1750047896|       07/07/1970|    Laptop|        8695785|
|    Aaron|scottjacqueline@l...|  49|3087774620|       08/20/1983|    Laptop|        6703858|
|   Sydney|thomaskrause@mart...|  24|4306503420|       02-10-2012|  Handpone|        6225011|
|   Lauren|michaelsharp@clar...|  26|3607884820|       11/13/2019|    Laptop|        6547810|
|    Sheri|arnoldbrett@selle...|  29|2488026821|       08/13/1975| Headphone|        3068588|
|   Morgan|richardsonjonatho...|  68|1529920627|       11/10/2009|    Tablet|        7892866|
|    Craig|austinbaldwin@hot...|  36|   3052819|       13-08-2022|Smartwatch|        8981630|
|   Walter|    sara87@gmail.com|  19|   9751624|       11/07/2015| Handphone|        7111386|
|    Bryan|williamsanthony@y...|  65|2091586467|       24-12-1988| Headphone|        9385903|
|Elizabeth|tylerfinley@yahoo...|  37|   9120819|       02/18/2015|  Handpone|        6390568|
|    Bobby|isimpson@brown-se...|  69|3154243087|       02/17/1997|    Tablet|        8673469|
|  Shannon|cesardoyle(at)ema...|  48|   7502984|       14-04-2022|Smartwatch|        8353152|
|     Rita|osbornejulie@gmai...|  46|   4801131|       01/03/2009| Headphone|        4287524|
+---------+--------------------+----+----------+-----------------+----------+---------------+
only showing top 20 rows

In [13]:
from pyspark.sql.functions import col, when, to_date

df = df.withColumn("Tanggal Pembelian",
    when(col("Tanggal Pembelian").rlike(r"\d{2}/\d{2}/\d{4}"),
         to_date(col("Tanggal Pembelian"), "MM/dd/yyyy"))
    .otherwise(to_date(col("Tanggal Pembelian"), "dd-MM-yyyy"))
)

df.show()

+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Nama|               Email|Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Mike|owensrobert@hotma...|  59|3741985672|       2004-11-28|    Laptop|        7711290|
|  Cynthia|lonnieandrews@cis...|  49|   5139026|       2000-02-10|   Tablett|        2393089|
|   Debbie| allison19@yahoo.com|  41|4974434132|       1982-04-24|Headphonee|        7488725|
|   Rachel|jjenkins@osborne....|  66|   6422484|       1993-08-02| Smartwach|        5974942|
|     Sean|ronald86(at)email...|  43|   7309258|       2020-09-21|    Laptop|        6997815|
|   Amanda|melissa50@hotmail...|  45|   4765981|       2014-06-13|Smartwatch|        2110772|
|   Robert| jason16@hotmail.com|  31|   6167831|       1972-05-31| Handphone|        4166003|
|    James|angela86@hernande...|  21|1750047896|       1970-07-07|    Laptop|        8695785|
|    Aaron|scottjacqueline@l...|  49|3087774620|       1983-08-20|    Laptop|        6703858|
|   Sydney|thomaskrause@mart...|  24|4306503420|       2012-10-02|  Handpone|        6225011|
|   Lauren|michaelsharp@clar...|  26|3607884820|       2019-11-13|    Laptop|        6547810|
|    Sheri|arnoldbrett@selle...|  29|2488026821|       1975-08-13| Headphone|        3068588|
|   Morgan|richardsonjonatho...|  68|1529920627|       2009-11-10|    Tablet|        7892866|
|    Craig|austinbaldwin@hot...|  36|   3052819|       2022-08-13|Smartwatch|        8981630|
|   Walter|    sara87@gmail.com|  19|   9751624|       2015-11-07| Handphone|        7111386|
|    Bryan|williamsanthony@y...|  65|2091586467|       1988-12-24| Headphone|        9385903|
|Elizabeth|tylerfinley@yahoo...|  37|   9120819|       2015-02-18|  Handpone|        6390568|
|    Bobby|isimpson@brown-se...|  69|3154243087|       1997-02-17|    Tablet|        8673469|
|  Shannon|cesardoyle(at)ema...|  48|   7502984|       2022-04-14|Smartwatch|        8353152|
|     Rita|osbornejulie@gmai...|  46|   4801131|       2009-01-03| Headphone|        4287524|
+---------+--------------------+----+----------+-----------------+----------+---------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import regexp_replace

df = df.withColumn("Produk",
    regexp_replace("Produk", "Handpone", "Handphone"))
df = df.withColumn("Produk",
    regexp_replace("Produk", "Tablett", "Tablet"))
df = df.withColumn("Produk",
    regexp_replace("Produk", "Headphonee", "Headphone"))

df.show()

+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Nama|               Email|Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Mike|owensrobert@hotma...|  59|3741985672|       2004-11-28|    Laptop|        7711290|
|  Cynthia|lonnieandrews@cis...|  49|   5139026|       2000-02-10|    Tablet|        2393089|
|   Debbie| allison19@yahoo.com|  41|4974434132|       1982-04-24| Headphone|        7488725|
|   Rachel|jjenkins@osborne....|  66|   6422484|       1993-08-02| Smartwach|        5974942|
|     Sean|ronald86(at)email...|  43|   7309258|       2020-09-21|    Laptop|        6997815|
|   Amanda|melissa50@hotmail...|  45|   4765981|       2014-06-13|Smartwatch|        2110772|
|   Robert| jason16@hotmail.com|  31|   6167831|       1972-05-31| Handphone|        4166003|
|    James|angela86@hernande...|  21|1750047896|       1970-07-07|    Laptop|        8695785|
|    Aaron|scottjacqueline@l...|  49|3087774620|       1983-08-20|    Laptop|        6703858|
|   Sydney|thomaskrause@mart...|  24|4306503420|       2012-10-02| Handphone|        6225011|
|   Lauren|michaelsharp@clar...|  26|3607884820|       2019-11-13|    Laptop|        6547810|
|    Sheri|arnoldbrett@selle...|  29|2488026821|       1975-08-13| Headphone|        3068588|
|   Morgan|richardsonjonatho...|  68|1529920627|       2009-11-10|    Tablet|        7892866|
|    Craig|austinbaldwin@hot...|  36|   3052819|       2022-08-13|Smartwatch|        8981630|
|   Walter|    sara87@gmail.com|  19|   9751624|       2015-11-07| Handphone|        7111386|
|    Bryan|williamsanthony@y...|  65|2091586467|       1988-12-24| Headphone|        9385903|
|Elizabeth|tylerfinley@yahoo...|  37|   9120819|       2015-02-18| Handphone|        6390568|
|    Bobby|isimpson@brown-se...|  69|3154243087|       1997-02-17|    Tablet|        8673469|
|  Shannon|cesardoyle(at)ema...|  48|   7502984|       2022-04-14|Smartwatch|        8353152|
|     Rita|osbornejulie@gmai...|  46|   4801131|       2009-01-03| Headphone|        4287524|
+---------+--------------------+----+----------+-----------------+----------+---------------+
only showing top 20 rows

In [24]:
from pyspark.sql.functions import regexp_replace

df = df.withColumn("Email", regexp_replace("Email", r"\s*at\s*|\s+at\s+|at", "@"))

df.show()

+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Nama|               Email|Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Mike|owensrobert@hotma...|  59|3741985672|       2004-11-28|    Laptop|        7711290|
|  Cynthia|lonnieandrews@cis...|  49|   5139026|       2000-02-10|    Tablet|        2393089|
|   Debbie| allison19@yahoo.com|  41|4974434132|       1982-04-24| Headphone|        7488725|
|   Rachel|jjenkins@osborne....|  66|   6422484|       1993-08-02| Smartwach|        5974942|
|     Sean|ronald86(@)email.com|  43|   7309258|       2020-09-21|    Laptop|        6997815|
|   Amanda|melissa50@hotmail...|  45|   4765981|       2014-06-13|Smartwatch|        2110772|
|   Robert| jason16@hotmail.com|  31|   6167831|       1972-05-31| Handphone|        4166003|
|    James|angela86@hernande...|  21|1750047896|       1970-07-07|    Laptop|        8695785|
|    Aaron|scottjacqueline@l...|  49|3087774620|       1983-08-20|    Laptop|        6703858|
|   Sydney|thomaskrause@mart...|  24|4306503420|       2012-10-02| Handphone|        6225011|
|   Lauren|michaelsharp@clar...|  26|3607884820|       2019-11-13|    Laptop|        6547810|
|    Sheri|arnoldbrett@selle...|  29|2488026821|       1975-08-13| Headphone|        3068588|
|   Morgan|richardsonjon@hon...|  68|1529920627|       2009-11-10|    Tablet|        7892866|
|    Craig|austinbaldwin@hot...|  36|   3052819|       2022-08-13|Smartwatch|        8981630|
|   Walter|    sara87@gmail.com|  19|   9751624|       2015-11-07| Handphone|        7111386|
|    Bryan|williamsanthony@y...|  65|2091586467|       1988-12-24| Headphone|        9385903|
|Elizabeth|tylerfinley@yahoo...|  37|   9120819|       2015-02-18| Handphone|        6390568|
|    Bobby|isimpson@brown-se...|  69|3154243087|       1997-02-17|    Tablet|        8673469|
|  Shannon|cesardoyle(@)emai...|  48|   7502984|       2022-04-14|Smartwatch|        8353152|
|     Rita|osbornejulie@gmai...|  46|   4801131|       2009-01-03| Headphone|        4287524|
+---------+--------------------+----+----------+-----------------+----------+---------------+
only showing top 20 rows

In [28]:
df.write.csv('data_transaksi_clean.csv', header=True, mode='overwrite')
df.show(100)

+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Nama|               Email|Umur|Pendapatan|Tanggal Pembelian|    Produk|Nilai Transaksi|
+---------+--------------------+----+----------+-----------------+----------+---------------+
|     Mike|owensrobert@hotma...|  59|3741985672|       2004-11-28|    Laptop|        7711290|
|  Cynthia|lonnieandrews@cis...|  49|   5139026|       2000-02-10|    Tablet|        2393089|
|   Debbie| allison19@yahoo.com|  41|4974434132|       1982-04-24| Headphone|        7488725|
|   Rachel|jjenkins@osborne....|  66|   6422484|       1993-08-02| Smartwach|        5974942|
|     Sean|ronald86(@)email.com|  43|   7309258|       2020-09-21|    Laptop|        6997815|
|   Amanda|melissa50@hotmail...|  45|   4765981|       2014-06-13|Smartwatch|        2110772|
|   Robert| jason16@hotmail.com|  31|   6167831|       1972-05-31| Handphone|        4166003|
|    James|angela86@hernande...|  21|1750047896|       1970-07-07|    Laptop|        8695785|
|    Aaron|scottjacqueline@l...|  49|3087774620|       1983-08-20|    Laptop|        6703858|
|   Sydney|thomaskrause@mart...|  24|4306503420|       2012-10-02| Handphone|        6225011|
|   Lauren|michaelsharp@clar...|  26|3607884820|       2019-11-13|    Laptop|        6547810|
|    Sheri|arnoldbrett@selle...|  29|2488026821|       1975-08-13| Headphone|        3068588|
|   Morgan|richardsonjon@hon...|  68|1529920627|       2009-11-10|    Tablet|        7892866|
|    Craig|austinbaldwin@hot...|  36|   3052819|       2022-08-13|Smartwatch|        8981630|
|   Walter|    sara87@gmail.com|  19|   9751624|       2015-11-07| Handphone|        7111386|
|    Bryan|williamsanthony@y...|  65|2091586467|       1988-12-24| Headphone|        9385903|
|Elizabeth|tylerfinley@yahoo...|  37|   9120819|       2015-02-18| Handphone|        6390568|
|    Bobby|isimpson@brown-se...|  69|3154243087|       1997-02-17|    Tablet|        8673469|
|  Shannon|cesardoyle(@)emai...|  48|   7502984|       2022-04-14|Smartwatch|        8353152|
|     Rita|osbornejulie@gmai...|  46|   4801131|       2009-01-03| Headphone|        4287524|
|   Pamela|megancosta@yahoo.com|  39|4743642660|       2011-08-16|    Laptop|        8043250|
|    Amber|michaelarmstrong@...|  41|   4764594|       1976-12-15| Headphone|        3312777|
|    Peter|fordwilliam@ellio...|  49|   5655666|       1981-12-21|    Laptop|        9968161|
|  Matthew|jessicahall@yahoo...|  32|3359452666|       2000-05-22| Headphone|        7317635|
|   Shelly|johngoodwin@perry...|  65|1503571524|       2002-06-21| Handphone|        2021118|
|   Daniel|   jsmith@meyer.info|  63|   8029197|       1988-09-07| Handphone|        3359641|
|   Calvin| andre49@hotmail.com|  40|2575808578|       1973-08-29|Smartwatch|        2496871|
|    Bryan|guerreronicolas@h...|  49|   6816341|       1993-02-19| Handphone|        8766162|
|  Heather| dlandry(@)email.com|  57|   9980884|       1986-01-20| Handphone|        7553960|
|  Anthony|   dawnday@gmail.com|  24|   3553265|       1974-01-13|    Laptop|        2736049|
|  Rebecca| linlaurie@yahoo.com|  34|2454478778|       1971-10-05|    Tablet|        2256555|
|    James|  john19(@)email.com|  42|3457646809|       1993-06-10| Smartwach|        3305087|
|  Matthew|davidwilliams@bro...|  70|1185314610|       2014-11-27| Handphone|        6017027|
|     Tara| amanda77@stuart.com|  37|3417336527|       1989-10-22| Headphone|        6370142|
|  Patrick|zthompson@hotmail...|  59|   6705425|       2023-12-01|    Laptop|        9079604|
|   Jeremy|steelesylvia@case...|  63|3349757081|       1995-12-14|    Laptop|        7855360|
|   Thomas|michelefernandez@...|  36|   7748933|       2005-08-03| Handphone|        2826983|
|    Jared| qwiggins@hodges.com|  69|   8024480|       2005-01-02|    Tablet|        3093351|
|   Joanna|   pwalker@gmail.com|  67|   5748244|       2010-11-19| Handphone|        3906783|
+---------+--------------------+----+----------+-----------------+----------+---------------+